<!-- English Course page  -->
<div class="courses">
    <div class="card-holder">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="custom-card" style="height: 17em;">
            <h4 class="card-title">
              1: Tenses
            </h4>
            <p class="card-text">In grammar, tense is a category that expresses time reference with reference to the moment of speaking.</p>
            <span class="read-more">
              Read-More >
            </span>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="custom-card" style="height: 17em;">
            <h4 class="card-title">
              2: Modals
            </h4>
            <p class="card-text">A modal verb is a type of verb that is used to indicate modality – that is: likelihood, ability, permission, request, capacity, suggestions, order, obligation, or advice.</p>
            <span class="read-more">
              Read-More >
            </span>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="custom-card" style="height: 17em;">
            <h4 class="card-title">
              3: Voice
            </h4>
            <p class="card-text">In grammar, the voice of a verb describes the relationship between the action that the verb expresses and the participants identified by its arguments.</p>
            <span class="read-more">
              Read-More >
            </span>
          </div>
        </div>
      </div>
    </div>