<!-- Maths Course page  -->
<div class="courses">
    <div class="card-holder">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="custom-card">
            <h4 class="card-title">
              1: Triangles
            </h4>
            <p class="card-text">Chapter about triangles and their properties and congruency of triangles.</p>
            <span class="read-more">
              Read-More >
            </span>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="custom-card">
            <h4 class="card-title">
              2: Coordinate Geometry
            </h4>
            <p class="card-text">Chapter about coordinate geometry, plotting points, finding quadrants, Cartesian Plane and other related things.</p>
            <span class="read-more">
              Read-More >
            </span>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="custom-card">
            <h4 class="card-title">
              3: Number System
            </h4>
            <p class="card-text">Learn aboout rational numbers, irrational numbers, real numbers and their representation.</p>
            <span class="read-more">
              Read-More >
            </span>
          </div>
        </div>
      </div>
    </div>