<!-- BODY Part for the Course Layout -->

<!-- Show Different Courses  -->
<div class="courses">
    <div class="card-holder">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="custom-card" id="maths">
            <h4 class="card-title">
              Mathematics
            </h4>
            <p class="card-text">Learn about Triangles, Coordinate Geometry and Number System in this course.</p>
            <span class="read-more">
              Read-More >
            </span>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="custom-card" id="science">
            <h4 class="card-title">
              Science
            </h4>
            <p class="card-text">Learn about Thermodynamics, Newton's Laws of Motion and Chemical Bonding in this course.</p>
            <span class="read-more">
              Read-More >
            </span>
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="custom-card" id="english">
            <h4 class="card-title">
              English
            </h4>
            <p class="card-text">Learn about Tenses, Modals and Voice in this course of Modern English.</p>
            <span class="read-more">
              Read-More >
            </span>
          </div>
        </div>
      </div>
    </div>