body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}


/*   NavBar   */

nav.bg-custom {
    background-color: white;
}

.nav-item a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    padding: 2em;
    margin: 0 1em;
    color: black !important;
}

.navbar-brand {
    padding: 5px 20px;
    font-weight: bold;
    background-color: #f4f4f4;
    cursor: pointer;
}

button.navbar-toggler{
    border: none;
    outline: none;
    font-size: 2rem;
}

.nav-item a:hover {
    color: #6610f2 !important;
    transition: all .3s ease-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.nav-item a.active {
    border-bottom: 3px solid blue;
}

.nav-item i.fa {
    margin: 3px 20px;
    font-size: 1.3em;
}

@media (max-width: 768px) {
    .nav-item a {
        padding: 1em;
    }

    .nav-item a.active {
        border-bottom: none;
    }
}


/* Header Section */

.header {
    background-color: #2d3092;
    height: 20em;
    color: white;
    font-family: 'Sen', sans-serif;
    padding: 8em 0;
    text-align: center;
}

h1.hero-text {
	font-size: 3em;
	text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bold;
}


/* Courses Section */

.card-holder {
    padding: 6em 2em;
}

.custom-card {
    padding: 1.5em 3em ;
    border: 1px solid rgb(192, 190, 190);
    cursor: pointer;
    margin: 20px 0px;
    height: 15em;
}

h4.card-title {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #250051;
    margin-bottom: 21px;
}

p.card-text {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #57667e;
    margin-bottom: 36px;
}

.read-more {
    font-family: 'Roboto', sans-serif;
}

.custom-card:hover {
    background-color: #2d3092;
    color: white;
    transition: all .4s ease-out 0s;
    border: none;
}

.custom-card:hover * {
    color: white;
}

@media (max-width: 400px) {
    .card-holder {
        padding: 0;
    }
}


/* Footer */

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h4{
	color:  #ffffff;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
